/**
 * layout.css File di stile globale
 * 
 * @author Joël Moix  
 */

* {
    box-sizing: border-box;
    font-size: 16px;
}

.selectable{
    cursor: pointer;
}

.img_header{
    width: 5%;
}

.welcome-msg{
    float: right;
    margin-top: 2.8%;
    margin-right: 1%;
    color:rgb(231, 132, 2)
}
/**
* Bottoni navbar
*/

.nav-item{
    margin-right: 5px;
    margin-left: 5px;
    width: 150px !important;
  }

.loaded{
    color: black !important;
    font-weight: bold !important;
    background-color: whitesmoke !important;
    border: 2px solid black;
    border-radius: 20px;   
}

.loaded:hover{
    border-color: black !important;
    background-color: whitesmoke !important;
    color: black !important;
}

.notloaded{
    border-color: black ;
    background-color: rgba(245, 245, 245, 0.37) ;
    color: black !important;
    border: 2px solid black;
    border-radius: 20px;
}

.notloaded:hover{
    color: black;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 20px;
}

.nav-bar{
    width: 100%;
}

.filter-bar{
    width: 70%;
}

.sub-navbar{
    background-color: rgb(30, 151, 226);
}

.el-navbar{
    border-color: black ;
    background-color: rgba(245, 245, 245, 0.37) ;
    color: black !important;
    border: 2px solid black;
    border-radius: 20px;
}
